<!doctype html>
<html lang="en" dir="ltr">
	<head>
		<title><%= title %></title>
	    <%- include('inc/head.ejs') -%>
	</head>

	<body class="ltr main-body app sidebar-mini">

		<!-- Loader -->
		<div id="global-loader">
			<img src="assets/img/loader.svg" class="loader-img" alt="Loader">
		</div>
		<!-- /Loader -->

		<!-- Page -->
		<div class="page">
			<div>
				<!-- main-header -->
				<div class="main-header side-header sticky nav nav-item">
					<div class="container-fluid main-container ">
						<div class="main-header-left ">
							<div class="responsive-logo">
								<%- include('inc/responsive_logo.ejs') -%>
							</div>
							<div class="app-sidebar__toggle" data-bs-toggle="sidebar">
								<a class="open-toggle" href="javascript:void(0);"><i class="header-icon fe fe-align-left" ></i></a>
								<a class="close-toggle" href="javascript:void(0);"><i class="header-icons fe fe-x"></i></a>
							</div>
							<div class="main-header-center ms-3 d-sm-none d-md-none d-lg-block">
								<h4 class="content-title mb-0 my-auto"><%= title %></h4>
							</div>
						</div>
						<div class="main-header-right">
							<button class="navbar-toggler navresponsive-toggler d-lg-none ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon fe fe-more-vertical "></span>
							</button>
							<div class="mb-0 navbar navbar-expand-lg navbar-nav-right responsive-navbar navbar-dark p-0">
								<div class="collapse navbar-collapse" id="navbarSupportedContent-4">
									<%- include('inc/header.ejs') -%>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /main-header -->

				<!-- main-sidebar -->
				<div class="app-sidebar__overlay" data-bs-toggle="sidebar"></div>
				<div class="sticky">
					<%- include('inc/sidebar.ejs') -%>
				</div>
				<!-- main-sidebar -->
			</div>

			<!-- main-content -->
			<div class="main-content app-content">

				<!-- container -->
				<div class="main-container container-fluid">

					<div class="breadcrumb-header justify-content-between"></div>

					<div class="row ">
						<div class="col-lg-12">
							<div class="card">
								<div class="card-body">
									<form action="<%= prefix %>/saveAdminUser" method="POST" id="roleForm">
										<div class="row">
											<div class="col-lg-6">
												<div class="form-group">
													<label>First name</label>
													<input type="text" name="firstName" class="form-control" placeholder="First name">
												</div>
											</div>
											<div class="col-lg-6">
												<div class="form-group">
													<label>Last name</label>
													<input type="text" name="lastName" class="form-control" placeholder="Last name">
												</div>
											</div>
											<div class="col-lg-6">
												<div class="form-group">
													<label>Email</label>
													<input type="text" name="email" class="form-control" placeholder="Email">
												</div>
											</div>
											<div class="col-lg-2">
												<div class="form-group">
													<label>Country Code</label>
													<select name="countryCode" class="form-control form-select select2">
														<% data.countries.forEach(row => { %>
															<% if(row.phonecode == 91) { %>
														 		<option value="<%= row.phonecode %>" selected="selected"><%= row.nicename %> (+ <%= row.phonecode %>)</option>
														 	<% } else { %>
														 		<option value="<%= row.phonecode %>"><%= row.nicename %> (+ <%= 	row.phonecode %>)</option>
														 	<% } %>
														<% }) %>
													</select>
												</div>
											</div>
											<div class="col-lg-4">
												<div class="form-group">
													<label>Phone number</label>
													<input type="number" name="phone" class="form-control" placeholder="Phone number">
												</div>
											</div>
											<!-- <div class="col-lg-6">
												<div class="form-group">
													<label>Password</label>
													<input type="password" id="password" name="password" class="form-control" placeholder="Password">
													<i class="fe fe-eye-off" id="togglePassword"></i>
												</div>
											</div>
											<div class="col-lg-6">
												<div class="form-group">
													<label>Confirm password</label>
													<input type="password" name="cpassword" id="cpassword" class="form-control" placeholder="Confirm password">
													<i class="fe fe-eye-off" id="toggleConfirmPassword"></i>
												</div>
											</div> -->
											<div class="col-lg-6">
												<div class="form-group">
													<label>Role</label>
													<select name="role" class="form-control form-select select2-no-search">
														<% data.roles.forEach(row => { %>
														 <option value="<%= row.roleId %>"><%= row.name %></option>
														<% }) %>
													</select>
												</div>
											</div>
											
										</div>

										<div class="row mt-3">
											<div class="col-lg-6">
												<div class="form-group">
													<input type="submit" class="btn btn-primary" value="Create">
													<a href="<%= prefix %>/admin_users" class="btn btn-danger">Cancel</a>
												</div>
											</div>
										</div>

									</form>
								</div>
							</div>
						</div>
					</div>

				</div>
				<!-- Container closed -->
			</div>
			<!-- main-content closed -->

			<!-- Footer opened -->
			<div class="main-footer ht-45">
				<%- include('inc/footer.ejs') -%>
			</div>
			<!-- Footer closed -->

		</div>
		<!-- End Page -->

		<%- include('inc/script.ejs') -%>
		<script type="text/javascript">

			$('#roleForm').validate({
                rules: {
                    firstName: { required: true },
                    lastName: { required: true },
                    email: { required: true, email: true },
                    countryCode: { required: true },
                    phone: { required: true, minlength: 10},
                    role: { required: true }                  
                }
            })
		</script>
	</body>
</html>