<!doctype html>
<html lang="en" dir="ltr">
	<head>
		<title><%= title %></title>
	    <%- include('inc/head.ejs') -%>
	</head>

	<body class="ltr main-body app sidebar-mini">

		<!-- Loader -->
		<div id="global-loader">
			<img src="assets/img/loader.svg" class="loader-img" alt="Loader">
		</div>
		<!-- /Loader -->

		<!-- Page -->
		<div class="page">
			<div>
				<!-- main-header -->
				<div class="main-header side-header sticky nav nav-item">
					<div class="container-fluid main-container ">
						<div class="main-header-left ">
							<div class="responsive-logo">
								<%- include('inc/responsive_logo.ejs') -%>
							</div>
							<div class="app-sidebar__toggle" data-bs-toggle="sidebar">
								<a class="open-toggle" href="javascript:void(0);"><i class="header-icon fe fe-align-left" ></i></a>
								<a class="close-toggle" href="javascript:void(0);"><i class="header-icons fe fe-x"></i></a>
							</div>
							<div class="main-header-center ms-3 d-sm-none d-md-none d-lg-block">
								<h4 class="content-title mb-0 my-auto"><%= title %></h4>
							</div>
						</div>
						<div class="main-header-right">
							<button class="navbar-toggler navresponsive-toggler d-lg-none ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon fe fe-more-vertical "></span>
							</button>
							<div class="mb-0 navbar navbar-expand-lg navbar-nav-right responsive-navbar navbar-dark p-0">
								<div class="collapse navbar-collapse" id="navbarSupportedContent-4">
									<%- include('inc/header.ejs') -%>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /main-header -->

				<!-- main-sidebar -->
				<div class="app-sidebar__overlay" data-bs-toggle="sidebar"></div>
				<div class="sticky">
					<%- include('inc/sidebar.ejs') -%>
				</div>
				<!-- main-sidebar -->
			</div>

			<!-- main-content -->
			<div class="main-content app-content">

				<!-- container -->
				<div class="main-container container-fluid">

					<div class="breadcrumb-header justify-content-between"></div>

					<div class="row ">
						<div class="col-lg-12">
							<div class="card">
								<div class="card-body">
									<form action="<%= prefix %>/updateEmailTemplate" method="POST" id="roleForm">
										<input type="hidden" name="id" value="<%= data.email.id %>">
										<div class="row">
											
											<div class="col-lg-6">
												<div class="form-group">
													<label>Name</label>
													<input type="text" name="name" class="form-control" placeholder="Name" value="<%= data.email.name %>">
												</div>
											</div>
											<div class="col-lg-6">
												<div class="form-group">
													<label>Subject</label>
													<input type="text" name="subject" class="form-control" placeholder="Subject" value="<%= data.email.subject %>">
												</div>
											</div>

											<div class="col-lg-12">
												<div class="form-group">
													<label>Message</label>
													<textarea name="message" class="form-control" placeholder="Message" rows="10"><%= data.email.message %></textarea>
													<p class="pt-4">Variables : <%= data.email.variable %></p>
												</div>
											</div>
										</div>

										<div class="row mt-3">
											<div class="col-lg-6">
												<div class="form-group">
													<input type="submit" class="btn btn-primary" value="Update">
													<a href="<%= prefix %>/emailManagement" class="btn btn-danger">Cancel</a>
												</div>
											</div>
										</div>

									</form>
								</div>
							</div>
						</div>
					</div>

				</div>
				<!-- Container closed -->
			</div>
			<!-- main-content closed -->

			<!-- Footer opened -->
			<div class="main-footer ht-45">
				<%- include('inc/footer.ejs') -%>
			</div>
			<!-- Footer closed -->

		</div>
		<!-- End Page -->

		<%- include('inc/script.ejs') -%>
		<script type="text/javascript">

			$('#roleForm').validate({
                rules: {
                    name: { required: true },
                   	subject: { required: true },
                    message: { required: true }
                }
            })
		</script>
	</body>
</html>